* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.nav{
  background-color: pink;
}


.notification{
  background: linear-gradient(321deg,rgb(159, 169, 235),white);
  height: 100vh;
}

.toggle-btn{
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;
}

.toggle-btn .thumb{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled{
  background-color: rgb(30, 241, 44);
}
.toggle-btn:hover{
  border-color: #6f6f6f;
}
.toggle-btn.toggled .thumb{
  left: calc(50px - 25px);
} 


.goal-select {
    background: linear-gradient(180deg,rgba(154, 181, 239, 0.986), rgb(59, 135, 249) 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;
    padding: 9px 10px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }

 

  .goal-select option {
    background-color: #bccef3;
    color: rgb(11, 11, 11);
    font-weight: 600;
  }